/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.navigation{
  background: #134c48e0;
  color: #090909;
  box-shadow: -1px 3px 10px 2px #020202bf;
}
img.logo {
  margin: 9px 0 0 0;
  border-radius: 6px;
}
.navigation a{
  color: #ffe93dd9;
}
.header .center .teal-text .text-lighten-2{
  color: #e0af3f;
}
.header h1{
  color: #e0af3f;
}
 #download-button{
  box-shadow: 0px 4px 6px 3px #d2d8d79c;
  border-bottom: solid 2px #fff;
  margin-top: -10px;
  width: 200px;
}
#download-button:hover{
  box-shadow: 0px 0px 0px 0px #d2d8d79c;
  border-bottom:  0px rgb(3, 3, 3);
  margin-top: 0px;
  width: 180px;
}
.withFlash{
  width: 120%;
}
.flashBox{
  height: 500px;
  position: relative;
}
.flashBox h4{
  margin: 0;
}
.flowplayer{
  display: block;
  background-image: url('../../images/phone.png');
  background-size:100%;
  background-repeat:no-repeat;
  width: 844px;
  height: 414px;
  padding: 14px;
  margin: 0 auto;
  }
.flowplayer embed{
  display: block;
  border: solid #000 2px;
  margin: 0 auto;
  width: 649px;
  height: 374px;
}
/* .row .col{float: 0} */